@import "../../../sass/lib";

.coupon {
  @extend %pos-relative;
  .header {
    @include h(120px);
    @include radius(10px);
    @include padding(28px 32px 28px 0);

    background-size: 102% 100%;
    background-position: -4px;
    background-repeat: no-repeat;

    .price-layer {
      span {
        @include margin(0, right);
      }
      @extend %wp30;
      @extend %blod;
      @extend %inline-block;
      @include talign(center);
      @include rem(.5);
      @include color($white);
      .price {
         @include color($white)
         @include rem(1);
      }
    }
  }

  .bottom {
    @include lh(60px);
    @include bgc($white);
    @include radius(10px);
    @include rem(.34);
    @include margin(16px, bottom);
    @include padding(16px, top bottom left);
    .date {
      @include rem(.25);
      @include color($gray-2);
    }
  }

  .name {
    @include color($black);
    @include rem(.3)
  }
}


.coupon-footer {
  @extend %pos-fixed;
  @extend %wp100;
  @include box((bottom: 0))
  @include lh(100px);
  @include rem(.3);
  @include bgc($white);
  border-top: 1px solid $gray-5;

  span{
    @extend %pos-relative;
    @extend %inline-block;
    @include lh(80px);
  }
  .no-coupon {
    @extend %inline-block;
    @include lh(48px);
    @include color($gray-3);

    .checkbox{
      @include wh(26px, 20px);
      @include radius(6px);
      @include padding(5px 4px);
      @include margin(5px, right);

      border: 1px solid $brand;
      float: left;
    }
    .checkbox.selected {
      @include bgc($brand);
    }
    @include margin(10px 5px 0 20px)
  }

  .btn {
    @extend %wp30;
    @include lh(82px);
    @include box((top: -2px));
    @include bgc($brand);
    @include radius(0);
    @include color($white);
  }
}
