  .service-list{
    margin-bottom: .2rem;
  }
  .service-query{
    width: 90%;
    margin-left: 5%;
    height: .98rem;
    margin-top: .3rem;
  }

  // 改变通告右侧关闭图标样式
  .anticon-cross{
    &:before{line-height: 0.72rem}
  }
  .am-notice-bar{color: rgb(255,170,0)}

  // 改变tab元素宽
  // 激活的tab选项卡样式
  .service-tab .am-tabs-bar{justify-content: space-around; background: #fff;}
  .service-tab .am-tabs-ink-bar{height: 0; background-color: rgb(255,170,0);}
  .service-tab .am-tabs-bar .am-tabs-tab{flex:none; border-bottom: 4px solid #fff;}
  .service-tab .am-tabs-bar .am-tabs-tab.am-tabs-tab-active{border-bottom: 4px solid rgb(255,170,0); color: rgb(255,170,0);}

  // List组件
  .my-app .am-list-body{border-top: none;}
  .my-app .am-list-item{ height: 1.1rem; }
  .am-list-item .am-list-line .am-list-content{ font-size: .3rem; color: rgb(17, 17, 17);}

  // picker组件
  .pick-list .am-list-item .am-list-line .am-list-content{flex: none;}
  .pick-list .am-list-item .am-list-line .am-list-extra{flex:1; text-align: left; font-size: .3rem; color: rgb(17, 17, 17);}
  .am-picker-popup-wrap  .am-picker-popup-item{color: rgb(250, 170, 0)}     //组件字体颜色定义

  //input组件
  .my-app .am-list-item.am-input-item{ height: 1.1rem; }
  .my-app .am-list-item .am-input-label{font-size: .30rem!important; color: #333;}
  .my-app .am-list-item .am-input-control input{font-size: .30rem!important; line-height: .28rem;}
  .my-app .am-list-item .am-input-control input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: .30rem!important;
    line-height: .28rem;
  }
  .my-app .am-list-item .am-input-control input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: .30rem!important;
    line-height: .28rem;
  }
  .my-app .am-list-item .am-input-control input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: .30rem!important;
    line-height: .28rem;
  }
  .my-app .am-list-item .am-input-control input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: .30rem!important;
    line-height: .28rem;
  }
  .my-app .am-list-item .am-input-label, .my-app .am-list-item .am-input-label.am-input-label-4{width: 1.55rem; margin-right: 0;}

  // 底部按钮样式
  .my-app .am-button-primary{
    background-color: rgb(255,170,0); border-color: rgb(255,170,0);
    font-size: .32rem;
    &:hover{
      background-color: rgb(255,170,0); border-color: rgb(255,170,0);
    }
  }

// services页面
.service-tab{
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-around;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-bottom: 1px solid rgb(227,227,228);
  li{
    margin: 0;
    padding: 0;
    float: left;
    height: .8rem;
    line-height: .8rem;
    color: rgb(109, 109, 109);
    font-size: .30rem!important;
    &.active{
      color: rgb(255, 154, 0);
      border-bottom: .05rem solid rgb(255, 170, 0)
    }
  }
}
