@import 'self_common';



.orderWrap{
    width: $w;
    height:$h;
    // background:pink;
    .addrWrap{
       width: $w;
       height:164px;
       background:#fff;
       @extend .pos-relative;
       top:0;
       .addr_no{
           width: $w;
           height: $h;
           padding:32px;
           float:left;
           display:none;
           img{
               @extend .inline-block;
               float:left;
               width: 50px;
               height:auto;
               margin-top:24px;
           }
           span{
               @extend .inline-block;
               float: left;
               margin-top:32px;
               margin-left:20px;
           }
           .goChoose{
              float: right;
              width: 20px;
              margin-top:32px;
           }
       }
       .addr_one{
          padding:32px;
          .addr_main{
              width: $w;
              height:$h;
              .addr_l{
                 width: 10%;
                 height:$h;
                 float:left;
                 img{
                    width: 40px;
                    margin-top:35%;
                 }
              }
              .addr_c{
                 width: 80%;
                 height:$h;
                 float:left;
                 .addr_name{
                   display:flex;
                   align-items: center;
                   justify-content: space-between;
                 }
              }
              .addr_r{
                width: 10%;
                height:$h;
                float:left;
                 img{
                    width: 20px;
                    float: right;
                    margin-top:45%;
                 }
              }
              .kong{
                  margin-bottom:4px;
                  span{
                     margin-right:8px;
                  }
              }
          }
       }
       .addr_line{
          width: $w;
          height:10px;
          background: url(../img/bgs.png) repeat-x;
          position: absolute;
          bottom: -10px;
          background-size: contain;
       }
    }
}
